doctype html
html(lang="en")
    head
        title Recipes
        meta(charset='utf-8')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href='http://cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/normalize.min.css')
        link(rel='stylesheet', type='text/css', href='http://cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.min.css')
        link(rel='stylesheet', type='text/css', href='/css/style.css')
    body
        .row
            .small-10.small-centered.columns
                h1 My Recipe App
                #wrapper

        script.
            var recipesData = !{recipesData};

        script#index-tools(type='text/template').
            <div class="row spacer">
                <div class="small-8 small-centered columns">
                <input type="text" id="search" name="search" placeholder='Search'/>
                </div>
            </div>
            <div class="row">
                <div id="count"></div>
            </div>
            <div class="row spacer">
                <ul id="recipes_ul"></ul>
            </div>

        script#recipe-list-element(type='text/template').
            <a href='#/recipe/<%= id %>'>
                <span class="title"><%= name %></span> <span class='<%= difficulty %>'>(<%= difficulty %>)</span>
            </a>

        script#create-recipe-form(type='text/template').
            <form id="new-recipe">
                <label>Title</label><input id="recipe-name" name="recipe-name" type="text" value='<%= name %>'/>
                <br><br>
                <label>Ingredients</label>
                <textarea id="recipe-ingredients" name="recipe-ingredients"><%= _.reduce(ingredients, function (memo, val) { return memo + val + '\n'; }, '') %></textarea>
                <br><br>
                <label>Steps</label>
                <textarea id="recipe-steps" name="recipe-steps"><%= _.reduce(steps, function (memo, val) { return memo + val + '\n'; }, '') %></textarea>
                <br><br>
                <button id='save'>Save</button>
            </form>

        script#recipe-detail(type='text/template').
            <h2><%= name %></h2>
            <a href='#/edit/<%= id %>'>Edit...</a>
            <div class="details">
                <br>
                Ingredients <br>
                <ul>
                    <% _.each(ingredients, function (ingr) { %><li><%= ingr %></li> <% }); %>
                </ul>
                <br>
                Steps <br>
                <ol>
                    <% _.each(steps, function (step) { %><li><%= step %></li> <% }); %>
                </ol>
                <br>
            </div>

        script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js')
        script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js')
        script(src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js')
        script(src='js/lib/backbone-nested-model/backbone-nested.js')
        script(src='js/routers/router.js')
        script(src='js/models/recipe.js')
        script(src='js/views/index.js')
        script(src='js/views/recipe.js')
        script(src='js/app.js')
